$global-font-icon: 'social';
@font-face {
  font-family: $global-font-icon;
  src:url("../assets/fonts/myicons.eot");
  src:url("../assets/fonts/myicons.?#iefix") format("embedded-opentype"),
    url("../assets/fonts/myicons.woff") format("woff"),
    url("../assets/fonts/myicons.ttf") format("truetype"),
    url("../assets/fonts/myicons.#myicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: $global-font-icon;

  &:before {
    /* Some common icon stuff */
  }

  &.icon--align-center {
    &:before {
      content: $icon-align-center;
    }
  }
  &.icon--align-left {
    &:before {
      content: $icon-align-left;
    }
  }
  &.icon--align-right {
    &:before {
      content: $icon-align-right;
    }
  }
  &.icon--back {
    &:before {
      content: $icon-back;
    }
  }
  &.icon--cancel {
    &:before {
      content: $icon-cancel;
    }
  }
  &.icon--delete-button {
    &:before {
      content: $icon-delete-button;
    }
  }
  &.icon--delete-icon {
    &:before {
      content: $icon-delete-icon;
    }
  }
  &.icon--facebook {
    &:before {
      content: $icon-facebook;
    }
  }
  &.icon--instagram {
    &:before {
      content: $icon-instagram;
    }
  }
  &.icon--menu-button-of-three-horizontal-lines {
    &:before {
      content: $icon-menu-button-of-three-horizontal-lines;
    }
  }
  &.icon--menu {
    &:before {
      content: $icon-menu;
    }
  }
  &.icon--next {
    &:before {
      content: $icon-next;
    }
  }
  &.icon--pinterest {
    &:before {
      content: $icon-pinterest;
    }
  }
  &.icon--search {
    &:before {
      content: $icon-search;
    }
  }
  &.icon--twitter {
    &:before {
      content: $icon-twitter;
    }
  }
  &.icon--valid {
    &:before {
      content: $icon-valid;
    }
  }
  &.icon--youtube {
    &:before {
      content: $icon-youtube;
    }
  }

}