

$icon-align-center: "\EA01" !default;

$icon-align-left: "\EA02" !default;

$icon-align-right: "\EA03" !default;

$icon-back: "\EA04" !default;

$icon-cancel: "\EA05" !default;

$icon-delete-button: "\EA06" !default;

$icon-delete-icon: "\EA07" !default;

$icon-facebook: "\EA08" !default;

$icon-instagram: "\EA09" !default;

$icon-menu-button-of-three-horizontal-lines: "\EA0A" !default;

$icon-menu: "\EA0B" !default;

$icon-next: "\EA0C" !default;

$icon-pinterest: "\EA0D" !default;

$icon-search: "\EA0E" !default;

$icon-twitter: "\EA0F" !default;

$icon-valid: "\EA10" !default;

$icon-youtube: "\EA11" !default;